<%= javascript_tag do %>
  window.board_data = <%= raw JSON.generate @board_data %>
<% end %>

<div id="header">
  <span class="title"><%=@board.name%></span>
  <span class="dropdown menu">
    <i class="menu glyphicon glyphicon-menu-hamburger dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></i>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a id="edit-board" href="/edit">Edit Board</a></li>
      <li role="separator" class="divider"></li>
      <li><a id="reset-answers" href="/reset">Reset Answers</a></li>
    </ul>
  </span>
</div>
<div id="content">
  <%= render "shared/board" %>
</div>
<div id="footer">
</div>

<!-- Modal -->
<div class="modal fade" id="questionModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="questionTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="question-body"></p>
      </div>
    </div>
  </div>
</div>
