// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal .modal-dialog {
  margin: 10px 0;
  margin-right: auto;
  margin-left: auto;
  width: 99%;
  height: 99%;
}

.modal-content {
  height: 99%;
  width: 99%;
}

.modal-body {
  width: 100%;
  height: 100%;
  display: table;
  background-color: #333333;
  color: #EEEEEE;
  padding: 20px;
  text-align: center;
  font-size: 48px;

  .question-body {
    display: table-cell;
    vertical-align: middle;
  }
}
.modal-body:hover {
  cursor: pointer;
}

#header {
  margin: 5px;
  font-size: 24px;
  text-align: center;

  .menu {
      float: right;
  }
}

#content, #editor {
  min-height: 100%;
  padding: 10px 10px 20px;

  #board {
    color: #EEEEEE;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;

    .column {
      display: table-cell;
      padding: 0;
      margin: 0;
      height: 100%;
      .category, .question {
        border: 1px solid #EEE;
        min-height: 80px;
      }
      .category {
        background-color: #111155;
      }
      .question {
        background-color: #000033;
      }
      .question.answered {
        background-color: #333366;
        text-decoration: line-through;
        color: #999
      }
      .question:hover {
        background-color: #000066;
        cursor: pointer;
      }
    }
  }

  #add-cat-btn {
    font-size: 24px;
  }
}

.category-form {
  margin: 10px;
  border-bottom: 2px solid;

  input.edit-category-name {
    margin: 0 100px 20px 0;
  }
}

.question-form * {
  vertical-align: middle;
}
.question-form {
  label {
    margin: 5px 10px;
    input {
      width: 40px;
    }
  }
}
